body{
    background-color: rgb(0, 0, 0);
    width: 100vh;
    height: 100vh;
}


text {
    color: white;
    font-size: 12px;
}

#t{
    font-size: 45px;
}

#Mexico{
    transform: translate(520px, 580px);
    font-size: 25px;
}

#China{
    transform: translate(1150px, 660px);
    font-size: 25px;
}

#India{
    transform: translate(920px, 1130px);
    font-size: 25px;
}

#South-Korea{
    transform: translate(900px, 370px);
    font-size: 25px;
}

#Canada{
    transform: translate(620px, 250px);
    font-size: 25px;
}

#UK{
    transform: translate(530px, 1240px);
    font-size: 25px;
}

#Germany{
    transform: translate(1200px, 390px);
    font-size: 22px;
}

#Japan{
    transform: translate(1265px, 1120px);
    font-size: 22px;
}

#France{
    transform: translate(340px, 320px);
    font-size: 25px;
}

#Italy{
    transform: translate(840px, 120px);
    font-size: 25px;
}

svg{
    border-style:solid;
    border-radius: 10px;
    border-color: white;
}
