html{
    background-color: rgb(69, 16, 71);
}

body{
    background-color: rgb(171, 111, 0);
}

main{
    background-color:orangered;
    padding: 15px;
}

h1{
    color: lime;
    text-align: right;
    text-decoration-line: initial;
    text-size-adjust: 200px;
}

h6{
    color: rgb(171, 235, 255);
    text-align: right;
    text-decoration-line: initial;
    text-size-adjust: 50px;
}

.text{
    font-family:"papyrus";
    font-weight:700;
    font-size: x-large;
    color:blue;
    text-align: center;
}
.text2{
    font-family:"Segoe script";
    font-weight:500;
    font-size:medium;
    color:aqua;
    text-decoration-line:overline;
}

.text3{
    font-family:fantasy;
    font-weight:650;
    font-size:xx-large;
    color:rgb(105, 133, 40);
    text-align: right;
    text-decoration-line: underline;
}

.text4{
    font-family:'Lucida';
    font-weight:300;
    font-size:larger;
    color:rgb(255, 255, 24);
    text-align:center;
    text-decoration-line: line-through;
}

#friends-box{
    background-color:rgb(0, 50, 30);
    margin: 20px;
    padding: 15px;
    border-style:dotted;
    border: radius 25px; ;
    border-color:rgb(238, 255, 0);
    border-width: 70px;
}

div > img {
    opacity: 0.6;
    height: 130px;
    width: 100%;
}
#friends-box::after {
    content: "Please, don't get discouraged by this webpage. This is a great show.";
    font-stretch:extra-condensed;
    font-family:"papyrus";
    color: aquamarine;
    text-transform: uppercase;
    text-shadow: 10px;
}

#links{
    border: 150px;
    border-radius: 20px;
    border-color: darkslateblue;
    background-origin: padding-box;
    border-style: dashed;
    text-align: center;
}
a[pretty-link]:hover{
    font-size: 350%;
    font-style:italic;
    font-family:sans-serif;
}

.text5{
    text-size-adjust: 100px;
    color:bisque;
    text-decoration: dotted;
    font-family: papyrus;
    font-weight: 200;
    font-style: oblique;
}
