html{
    background-color: rgb(231, 255, 190);
}

body{
    background-color: rgb(231, 255, 190);
    width: 100%;
    overflow: hidden;
}

main{
    background-color: rgb(231, 255, 190);
    position:relative;
    align-items: center;
    margin-left: 280px;
    margin-top: 40px;
    
}

header{
    border-style:double;
    border-color: rgb(3, 14, 0);
}

h1{
    color:rgb(10, 57, 26);
    text-align: center;
}

footer{
    margin-left: -40px;
}


.initials{
  position: fixed;
}
#cherry{
    position:absolute;
    font-size: 50px;
    transform: translateX(150px);
}

#rosette{
    position:relative;
    font-size: 50px;
    transform: translate(150px, 60px);
    
}
#hibiscus{
    position:static;
    font-size: 50px;
    transform: translate(153px, 43px);

}
#tulip{
    position: absolute;
    font-size: 50px;
    transform: translate(153px, 25px);
}
#hibiscus1{
    position:relative;
    font-size: 50px;
    transform: translate(154px, 83px);
}
#rosette1{
    position:static;
    font-size: 50px;
    transform: translate(210px, 10px);
}
#cherry1{
    position: absolute;
    font-size: 50px;
    transform: translate(270px, -68px);
}


#shamrock{
    position: relative;
    font-size: 45px;
    transform: translate(500px, -290px);
}
#clover{
    position: absolute;
    font-size: 50px;
    transform: translate(470px, -310px);
}
#herb{
    position: static;
    font-size: 50px;
    transform: translate(445px, -260px);
}
#leaf{
    position: relative;
    font-size: 50px;
    transform: translate(413px, -270px);
}
#rice{
    position: absolute;
    font-size: 50px;
    transform: translate(385px, -290px);
}
#herb2{
    position: static;
    font-size: 50px;
    transform: translate(500px, -410px);
}
#leaf1{
    position: relative;
    font-size: 50px;
    transform: translate(572px, -420px);
}
#herb1{
    position: static;
    font-size: 50px;
    transform: translate(550px, -555px);
}
#clover1{
    position: relative;
    font-size: 50px;
    transform: translate(532px,-683px);
}
#rice1{
    position: absolute;
    font-size: 50px;
    transform: translate(600px, -590px);
}