main{
    display: inline-block;
    margin: 10px;
}

section{
    margin: 10px;
}

h1{
    text-align: center;
}

.box1 {
    height: 160px;
    width: 160px;
    background-color: rgb(193, 130, 235);
    color: rgb(221, 221, 231);
    font-weight: bold;
}

.box2 {
    height: 160px;
    width: 160px;
    background-color: rgb(54, 68, 158);
    color: rgb(29, 4, 74);
    font-weight: bold;
}

.box3 {
    height: 160px;
    width: 160px;
    background-color: rgb(115, 247, 124);
    color: rgb(1, 27, 5);
    font-weight: bold;
}

.box4 {
    height: 160px;
    width: 160px;
    background-color: rgb(152, 234, 218);
    color: rgb(21, 67, 68);
    font-weight: bold;
}

.box5 {
    position: relative;
    transform:translate(500px, -400px);
    height: 160px;
    width: 160px;
    font-weight: bold;
    text-align:center;
    background-image:url(https://c.tenor.com/OBrsGpqRejwAAAAC/how-you-doin-joey.gif);
}

.btn {
    background-color: rgb(243, 224, 255);
    color: rgb(0, 0, 0);
    border-radius: 10px;
    border-style: hidden;
    margin: 10px;
    text-align: center;
}