* {
    margin: 0;
    padding: 0;
    overflow: hidden;
}


#page {
    width: 100%;
    height: 100%;
    background: rgb(4, 4, 4);
    overflow: hidden;
    text-align: center;
}

#page:after {
    content: '';
    z-index: 7;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    position: absolute;
}

#page{
    position: absolute;
    top: 0px;
    left: 0px;
    background-attachment: fixed;
    background-size: 900px;
    transition: background-size 300ms, width 300ms, height 300ms;
}


#magnify {
    background: url(../images/winter.jpeg) center center;
    position: absolute;
    top: 0px;
    left: 0px;
    background-attachment: fixed;
    background-size: 5000px;
    transition: background-size 800ms, width 800ms, height 800ms;
    text-align: center;
}



#magnify {
    z-index: 30;
    width: 300px;
    height: 300px;
    border: none;
    border-radius: 200px;
    box-shadow: inset 0px 0px 30px 20px rgba(0, 0, 1, 1), 0px 0px 10px 0px rgb(1, 1, 1);
    margin: -150px;
    border: 10px solid #FFF;
    background-size: 1500px;
    top: 50%;
    left: 50%;
    overflow: hidden;
}

#magnify:active {
    background-size: 1430px;
}
